apiVersion: v2
appVersion: 0.4.4
description: Helm Chart for Capsule Proxy, addon for Capsule, the multi-tenant Operator
name: capsule-proxy
type: application
version: 0.4.9
home: https://github.com/clastix/capsule-proxy
icon: https://github.com/clastix/capsule/raw/master/assets/logo/capsule_small.png
keywords:
- kubernetes
- operator
- multi-tenancy
- multi-tenant
- multitenancy
- multitenant
- namespace
- proxy
sources:
  - https://capsule.clastix.io/docs/general/proxy
maintainers:
- email: hello@clastix.io
  name: Clastix Labs Team
