---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: proxysettings.capsule.clastix.io
spec:
  group: capsule.clastix.io
  names:
    kind: ProxySetting
    listKind: ProxySettingList
    plural: proxysettings
    singular: proxysetting
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: ProxySetting is the Schema for the proxysettings API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: |-
              ProxySettingSpec defines the additional Capsule Proxy settings for additional users of the Tenant.
              Resource is Namespace-scoped and applies the settings to the belonged Tenant.
            properties:
              subjects:
                description: Subjects that should receive additional permissions.
                items:
                  properties:
                    clusterResources:
                      description: Cluster Resources for tenant Owner.
                      items:
                        properties:
                          apiGroups:
                            description: APIGroups is the name of the APIGroup that
                              contains the resources. If multiple API groups are specified,
                              any action requested against any resource listed will
                              be allowed. '*' represents all resources. Empty string
                              represents v1 api resources.
                            items:
                              type: string
                            type: array
                          operations:
                            description: |-
                              Operations which can be executed on the selected resources.
                              Deprecated: For all registered Routes only LIST ang GET requests will intercepted
                              Other permissions must be implemented via kubernetes native RBAC
                            items:
                              enum:
                              - List
                              - Update
                              - Delete
                              type: string
                            type: array
                          resources:
                            description: Resources is a list of resources this rule
                              applies to. '*' represents all resources.
                            items:
                              type: string
                            type: array
                          selector:
                            description: |-
                              Select all cluster scoped resources with the given label selector.
                              Defining a selector which does not match any resources is considered not selectable (eg. using operation NotExists).
                            properties:
                              matchExpressions:
                                description: matchExpressions is a list of label selector
                                  requirements. The requirements are ANDed.
                                items:
                                  description: |-
                                    A label selector requirement is a selector that contains values, a key, and an operator that
                                    relates the key and values.
                                  properties:
                                    key:
                                      description: key is the label key that the selector
                                        applies to.
                                      type: string
                                    operator:
                                      description: |-
                                        operator represents a key's relationship to a set of values.
                                        Valid operators are In, NotIn, Exists and DoesNotExist.
                                      type: string
                                    values:
                                      description: |-
                                        values is an array of string values. If the operator is In or NotIn,
                                        the values array must be non-empty. If the operator is Exists or DoesNotExist,
                                        the values array must be empty. This array is replaced during a strategic
                                        merge patch.
                                      items:
                                        type: string
                                      type: array
                                      x-kubernetes-list-type: atomic
                                  required:
                                  - key
                                  - operator
                                  type: object
                                type: array
                                x-kubernetes-list-type: atomic
                              matchLabels:
                                additionalProperties:
                                  type: string
                                description: |-
                                  matchLabels is a map of {key,value} pairs. A single {key,value} in the matchLabels
                                  map is equivalent to an element of matchExpressions, whose key field is "key", the
                                  operator is "In", and the values array contains only "value". The requirements are ANDed.
                                type: object
                            type: object
                            x-kubernetes-map-type: atomic
                        required:
                        - apiGroups
                        - resources
                        - selector
                        type: object
                      type: array
                    kind:
                      description: Kind of tenant owner. Possible values are "User",
                        "Group", and "ServiceAccount"
                      enum:
                      - User
                      - Group
                      - ServiceAccount
                      type: string
                    name:
                      description: Name of tenant owner.
                      type: string
                    proxySettings:
                      description: Proxy settings for tenant owner.
                      items:
                        properties:
                          kind:
                            enum:
                            - Nodes
                            - StorageClasses
                            - IngressClasses
                            - PriorityClasses
                            - RuntimeClasses
                            - PersistentVolumes
                            type: string
                          operations:
                            items:
                              enum:
                              - List
                              - Update
                              - Delete
                              type: string
                            type: array
                        required:
                        - kind
                        - operations
                        type: object
                      type: array
                  required:
                  - kind
                  - name
                  type: object
                minItems: 1
                type: array
            required:
            - subjects
            type: object
        type: object
    served: true
    storage: true
