name: e2e

on:
  push:
    branches: [ "issues/257" ]
    paths:
      - '.github/workflows/e2e.yaml'
      - 'e2e/**'
      - 'internal/**'
      - 'Dockerfile'
      - 'go.*'
      - 'main.go'
      - 'Makefile'
  pull_request:
    branches: [ "issues/257" ]
    paths:
      - '.github/workflows/e2e.yaml'
      - 'e2e/**'
      - 'internal/**'
      - 'Dockerfile'
      - 'go.*'
      - 'main.go'
      - 'Makefile'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  kind:
    name: Kubernetes
    strategy:
      fail-fast: false
      matrix:
        k8s-version: [ 'v1.16.15', 'v1.17.11', 'v1.18.8', 'v1.19.4', 'v1.20.7', 'v1.21.2', 'v1.22.0' ]
        capsule-proxy-mode: [ 'https', 'http' ]
        test-clients: [ 'kubectl', 'curl' ]
    runs-on: ubuntu-18.04
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633
        with:
          fetch-depth: 0
      - uses: azure/setup-helm@5119fcb9089d432beecbf79bb2c7915207344b78
        with:
          version: 3.3.4
      - name: Installing BATS
        run: sudo apt-get install -y bats
      - name: Installing jq
        run: sudo apt-get install -y jq        
      - name: e2e testing
        run: CLIENT_TEST=${{ matrix.test-clients }} CAPSULE_PROXY_MODE=${{ matrix.capsule-proxy-mode }} KIND_K8S_VERSION=${{ matrix.k8s-version }} make e2e
      - name: Dumping Capsule logs
        if: failure()
        run: kubectl -n capsule-system logs -l app.kubernetes.io/instance=capsule
      - name: Dumping Capsule Proxy logs
        if: failure()
        run: kubectl -n capsule-system logs -l app.kubernetes.io/instance=capsule-proxy
