name: e2e

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  kind:
    name: Kubernetes
    strategy:
      matrix:
        k8s-version: [ 'v1.16.15', 'v1.17.11', 'v1.18.8', 'v1.19.4', 'v1.20.0' ]
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
      - uses: engineerd/setup-kind@v0.5.0
        with:
          skipClusterCreation: true
      - uses: azure/setup-helm@v1
        with:
          version: 3.3.4
      - name: Installing mkcert
        run: |
          wget https://github.com/FiloSottile/mkcert/releases/download/v1.1.2/mkcert-v1.1.2-linux-amd64
          mv mkcert-v1.1.2-linux-amd64 mkcert
          chmod +x mkcert
          sudo cp mkcert /usr/local/bin/
      - name: Installing BATS
        run: sudo apt-get install -y bats
      - name: e2e testing
        run: make e2e/${{ matrix.k8s-version }}
